<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
</head>

<body>
    <div>
        <h1>データの編集</h1>
        <form action="updata/<%= tables[0].id %>" method="POST" enctype="multipart/form-data">
            <!-- <form action="/update/" method="POST"> -->
            <!-- <input type="file" name="path" multiple="multiple" enctype="multipart/form-data" required> requiredいるかどうか考える -->
            <input type="file" name="path" multiple="multiple">
            <input type="hidden" name="oldpath" value="<%= tables[0].path %>">
            <div>
                <div>写真</div>

                <% tables.forEach((item)=> { %>

                    <% JSON.parse(item.path).forEach((path) => { %>

                        <img src="/images/<%= path %>">

                    <% }) %>
                <% }) %>

            </div>

            <div>
                <div>名前</div>
                <input type="text" name="name" value="<%= tables[0].name %>">
            </div>

            <div>
                <div>値段</div>
                <input type="number" name="price" value="<%= tables[0].price %>">
            </div>

            <div>
                <div>購入日</div>
                <input type="date" name="date" value="<%= tables[0].date %>">
            </div>

            <div>
                <div>購入店</div>
                <input type="text" name="shop" value="<%= tables[0].shop %>">
            </div>

            <div>
                <div>詳細</div>
                <input type="text" name="detail" value="<%= tables[0].detail %>">
            </div>
            <button type="submit">更新</button>

        </form>
    </div>
</body>

</html>