<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPage</title>
</head>

<body>
    <h1>マイページ</h1>
    <a href="/upload">アップロード画面</a>
    <div>
        <% tables.forEach((item) => { %>
            <div>
                <% JSON.parse(item.path).forEach((path) => { %>

                    <img src="/images/<%= path %>">

                <% }) %>
                

                    <img src="/images/<%= item.path %>">
                    <img src="/images/<%= JSON.parse(item.path) %>">

                
            
                <a href="/item/<%= item.id %>"><%= item.name %></a>
            </div>
        <% }) %>
    </div>
</body>

</html>